---
services:
  karakeep:
    image: ghcr.io/karakeep-app/karakeep:release
    container_name: karakeep
    hostname: "karakeep-${HOSTNAME}" #
    restart: unless-stopped
    env_file:
      - "${BAK_CFG_DIR}/karakeep/.env"
    volumes:
      - "${BAK_CFG_DIR}/karakeep/data:/data" #
    ports:
      - 3000:3000
    networks:
      - proxy
    labels:
      traefik.enable: true # Enable Traefik reverse proxy for the Traefik dashboard.
      traefik.http.routers.karakeep.rule: Host(`karakeep.${CF_DOMAIN}`) # Define the subdomain for the traefik dashboard.
      traefik.http.routers.karakeep.middlewares: oauth@file #add this to any container you want to use the Authentik web proxy
      traefik.http.services.karakeep.loadbalancer.server.port: 3000

  karakeep-homedash:
    image: ghcr.io/codejawn/karakeep-homedash:latest
    container_name: karakeep-homedash
    ports:
      - "8595:8595"
    volumes:
      - "${BAK_CFG_DIR}/karakeep/data/db.db:/app/db.db:ro"
      - "${BAK_CFG_DIR}/karakeep/karakeep-dash:/app/config"
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.routers.karadash.rule: Host(`kara-dash.${CF_DOMAIN}`)
      traefik.http.routers.karadash.middlewares: oauth@file
    restart: unless-stopped
    depends_on:
      - karakeep


  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:latest
    restart: unless-stopped
    container_name: karakeep-chrome
    networks:
      - proxy
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars

  meilisearch:
    image: getmeili/meilisearch:v1.13.3
    restart: unless-stopped
    container_name: karakeep-meilisearch
    networks:
      - proxy
    env_file:
      - "${BAK_CFG_DIR}/karakeep/.env"
    environment:
      MEILI_NO_ANALYTICS: "true"
    volumes:
      - meilisearch:/meili_data


networks:
  proxy:
    external: true

volumes:
  meilisearch:
