---
services:
  handbrake:
    image: jlesage/handbrake:latest
    container_name: handbrake
    restart: unless-stopped
    volumes:
      - "${CFG_DIR}/handbrake:/config:rw"
      - "${DATA_DIR}:/storage"
      - "${CFG_DIR}/handbrake_trash:/trash:rw"
      #TODO volume removal: `/watch` `/output`
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    ports:
      - 5800:5800
    networks:
      - proxy
    labels:
      traefik.enable: true

networks:
  proxy:
    external: true
