---
services:
    postgresql:
        image: postgres:17
        container_name: "keycloak-postgres"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U keycloak"]
            interval: 30s
            timeout: 5s
            retries: 5
        env_file:
            - "${BAK_CFG_DIR}/keycloak/.env"
        volumes:
            - "${DB_CFG_DIR}/keycloak_postgresql:/var/lib/postgresql/data"
        networks:
            - proxy
        labels:
            com.centurylinklabs.watchtower.monitor-only: true #to only monitor update with watchtower not install

    keycloak:
        image: quay.io/keycloak/keycloak:26.4
        container_name: "keycloak"
        restart: always
        command: start
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { java.net.URI uri = java.net.URI.create(args[0]); System.exit(java.net.HttpURLConnection.HTTP_OK == ((java.net.HttpURLConnection)uri.toURL().openConnection()).getResponseCode() ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://localhost:9000/health/live',
                ]
            interval: 60s
            timeout: 5s
            retries: 5
        depends_on:
            postgresql:
                condition: service_healthy
        env_file:
            - "${BAK_CFG_DIR}/keycloak/.env"
        networks:
            - proxy
        ports:
            - 8690:8080
        labels:
            traefik.enable: true
            com.centurylinklabs.watchtower.monitor-only: true #to only monitor update with watchtower not install

    oauth2proxy:
        image: quay.io/oauth2-proxy/oauth2-proxy:latest
        container_name: "oauth2-proxy"
        hostname: "oauth2-proxy-${HOSTNAME}"
        depends_on:
            postgresql:
                condition: service_healthy
            keycloak:
                condition: service_healthy
        env_file:
            - "${BAK_CFG_DIR}/oauth2-proxy/.env"
        restart: unless-stopped
        volumes:
            - "${CFG_DIR}/oauth2-proxy/templates:/templates"
            - "${BAK_CFG_DIR}/oauth2-proxy/sign_in.html:/templates/sign_in.html"
        ports:
            - 4180:4180
        networks:
            - proxy
        labels:
            - traefik.enable=true
            - traefik.http.routers.oauth2proxy.rule=Host(`keycloak.${CF_DOMAIN}`) && PathPrefix(`/oauth2`) || PathPrefix(`/oauth2`)
            - traefik.http.services.oauth2proxy.loadbalancer.server.port=4180

networks:
    proxy:
        external: true
